@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-VariableFont.ttf") format("truetype");
}

:root {
  --dark-blue: #1f2732;
  --dark-grayish-blue: #202632;
  --grayish-blue: #313a49;
  --neon-green: #53ffab;
  --light-neon-green: #9fffd1;
  --light-cyan: #cee2e9;
}

body {
  background-color: var(--dark-blue);
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

::selection {
  background-color: #53ffac3b;
}
