.footer {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.85rem;
  color: #97a7c2;

  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer_link {
  text-decoration: none;
  color: var(--neon-green);
  transition: text-shadow 0.35s ease-in-out;
}

.footer_link:hover {
  text-shadow: 0 0 0.75rem var(--neon-green);
}
